# WordPress core (no versionamos)
wp-admin/
wp-includes/
/index.php
license.txt
readme.html

# Uploads y cachés

wp-content/cache/
wp-content/upgrade/
wp-content/debug.log

# Node / build
**/node_modules/

**/.vite/

# Varios
.DS_Store
.env
wp-config.php
wp-content/plugins/motorlan-api-vue/app/typed-router.d.ts
wp-config.php
/wp-content/plugins/gp-premium/dist
/wp-content/plugins/jwt-authentication-for-wp-rest-api/admin/ui/dist
